* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62,5%; /*Desse jeito, faço uma proporção para utilizar rem no lugar de px. Assim, 10px = 1rem */
}

:root {
    --primary-color: #02c173;
    --bg-color: #191824;
}

::-webkit-scrollbar {
    display: none;
}

body, html {
    background-color: var(--bg-color);
}

.card {
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
    color: #02c173;

    font-family: 'Nunito';
}

.card-body {
    margin-left: -10px;
}

a {
    font-family: 'Nunito';
    color: var(--primary-color);
    text-decoration: none;
}

.card-img-top {
    display: block;
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    width: 10rem;
}

.btn-outline-dark {
    margin: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
